.app-container {
  display: grid;
  grid-template-columns: 2fr 10fr !important;
  height: 100vh;
  width: 100vw;
  background-image: url('/src/images/wallpaper2.png'); /* ใช้รูปภาพจากโฟลเดอร์ public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.sidebar {
  color: white;
  height: 100vh;
  padding: 35px;
  border-radius: 24px;
  display: flex;
  background-color: #2D336B;
}

.dashboard {
  display: flex; /* ใช้ Flexbox */
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  height: 100%; /* ให้ครอบคลุมความสูงของพื้นที่ */
  padding: 10px;
}